<ion-content>
  <div id="ombra" class="container off-bottom">
    <div class="div_table">

      <div class="info_container">

        <ion-icon src="../../assets/icon/arrow_slider.svg" (click)="goToPrev()" class="btn_slider1"></ion-icon>
        <ion-slides #slidesInfo slidesPerView="1" [options]="slideOpts">
          <ion-slide>
            <div class="info_img"><img src="../../assets/icon/info_iconv2.svg" /></div>
            <!-- <div class="info">A <div class="text_highlight">ten-ten</div> (which literally means "dot-dot") is a sign composed of <div class="text_highlight">2 tiny strokes</div> added on kana syllabaries to indicate that the consonant of a syllable should be <div class="text_highlight">pronounced differently</div></div> -->
            <div class="info">
              <div class="info_text">A <div class="main_word">ten-ten</div> (which literally means "dot-dot") is a sign composed of <div class="main_word">2 tiny
                strokes</div> added on kana syllabaries to indicate that the consonant of a syllable should be
                <div class="main_word">pronounced differently</div>
            </div>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="info_img"><img src="../../assets/icon/info_iconv2.svg" /></div>
            <div class="info">
              <div class="info_text">To easily remember how the pronunciation changes, say the basic sound but add a <div class="main_word">vibration of the larynx</div>. For example, S becomes Z when you create a vibration in your throat
            </div>
            </div>
          </ion-slide>
        </ion-slides>
        <ion-icon src="../../assets/icon/arrow_slider.svg" (click)="goToNext()" class="btn_slider2"></ion-icon>


      </div>

      <div class="title_series_first">K → G</div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">カ → ガ</div>
          <div class="div_label">ka → ga</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">キ → ギ</div>
          <div class="div_label">ki → gi</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ク → グ</div>
          <div class="div_label">ku → gu</div>
        </div>
      </div>
      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ケ → ゲ</div>
          <div class="div_label">ke → ge</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">コ → ゴ</div>
          <div class="div_label">ko → go</div>
        </div>
      </div>

      <div class="title_series">S → Z</div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">サ → ザ</div>
          <div class="div_label">sa → za</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">シ → ジ</div>
          <div class="div_label">shi → ji</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ス → ズ</div>
          <div class="div_label">su → zu</div>
        </div>
      </div>
      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">セ → ゼ</div>
          <div class="div_label">se → ze</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ソ → ゾ</div>
          <div class="div_label">so → zo</div>
        </div>
      </div>

      <div class="title_series">T → D</div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">タ → ダ</div>
          <div class="div_label">ta → da</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">チ → ヂ</div>
          <div class="div_label">chi → ji</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ツ → ヅ</div>
          <div class="div_label">tsu → zu</div>
        </div>
      </div>
      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">テ → デ</div>
          <div class="div_label">te → de</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ト → ド</div>
          <div class="div_label">to → do</div>
        </div>
      </div>

      <div class="title_series">H → B</div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ハ → バ</div>
          <div class="div_label">ha → ba</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ヒ → ビ</div>
          <div class="div_label">hi → bi</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">フ → ブ</div>
          <div class="div_label">fu → bu</div>
        </div>
      </div>
      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ヘ → ベ</div>
          <div class="div_label">he → be</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ホ → ボ</div>
          <div class="div_label">ho → bo</div>
        </div>
      </div>

      <div class="title_series">Additional sounds</div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ウ → ヴ</div>
          <div class="div_label">u → v</div>
        </div>
      </div>

    </div>

    <div class="shadow shadow-top" aria-hidden="true"></div>
    <div class="shadow shadow-bottom" aria-hidden="true"></div>

  </div>

</ion-content>