<ion-content>
  <div id="ombra" class="container off-bottom">
    <div class="div_table">

      <div class="info_container">


        <!-- <div class="info_icon"></div> -->

        <div class="info_img"><img src="../../assets/icon/info_iconv2.svg" /></div>
        <div class="info">Click on a kana to show more options</div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopoverParam($event, 'あ')">
          <div class="div_charac">あ</div>
          <div class="div_label">a</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'い')">
          <div class="div_charac">い</div>
          <div class="div_label">i</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'う')">
          <div class="div_charac">う</div>
          <div class="div_label">u</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'え')">
          <div class="div_charac">え</div>
          <div class="div_label">e</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'お')">
          <div class="div_charac">お</div>
          <div class="div_label">o</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopoverParam($event, 'か')">
          <div class="div_charac">か</div>
          <div class="div_label">ka</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'き')">
          <div class="div_charac">き</div>
          <div class="div_label">ki</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'く')">
          <div class="div_charac">く</div>
          <div class="div_label">ku</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'け')">
          <div class="div_charac">け</div>
          <div class="div_label">ke</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'こ')">
          <div class="div_charac">こ</div>
          <div class="div_label">ko</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopoverParam($event, 'さ')">
          <div class="div_charac">さ</div>
          <div class="div_label">sa</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'し')">
          <div class="div_charac">し</div>
          <div class="div_label">shi</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'す')">
          <div class="div_charac">す</div>
          <div class="div_label">su</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'せ')">
          <div class="div_charac">せ</div>
          <div class="div_label">se</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'そ')">
          <div class="div_charac">そ</div>
          <div class="div_label">so</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopoverParam($event, 'た')">
          <div class="div_charac">た</div>
          <div class="div_label">ta</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'ち')">
          <div class="div_charac">ち</div>
          <div class="div_label">chi</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'つ')">
          <div class="div_charac">つ</div>
          <div class="div_label">tsu</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'て')">
          <div class="div_charac">て</div>
          <div class="div_label">te</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'と')">
          <div class="div_charac">と</div>
          <div class="div_label">to</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopoverParam($event, 'な')">
          <div class="div_charac">な</div>
          <div class="div_label">na</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'に')">
          <div class="div_charac">に</div>
          <div class="div_label">ni</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'ぬ')">
          <div class="div_charac">ぬ</div>
          <div class="div_label">nu</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'ね')">
          <div class="div_charac">ね</div>
          <div class="div_label">ne</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'の')">
          <div class="div_charac">の</div>
          <div class="div_label">no</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopoverParam($event, 'は')">
          <div class="div_charac">は</div>
          <div class="div_label">ha</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'ひ')">
          <div class="div_charac">ひ</div>
          <div class="div_label">hi</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'ふ')">
          <div class="div_charac">ふ</div>
          <div class="div_label">fu</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'へ')">
          <div class="div_charac">へ</div>
          <div class="div_label">he</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'ほ')">
          <div class="div_charac">ほ</div>
          <div class="div_label">ho</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopoverParam($event, 'ま')">
          <div class="div_charac">ま</div>
          <div class="div_label">ma</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'み')">
          <div class="div_charac">み</div>
          <div class="div_label">mi</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'む')">
          <div class="div_charac">む</div>
          <div class="div_label">mu</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'め')">
          <div class="div_charac">め</div>
          <div class="div_label">me</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'も')">
          <div class="div_charac">も</div>
          <div class="div_label">mo</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopoverParam($event, 'や')">
          <div class="div_charac">や</div>
          <div class="div_label">ya</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'ゆ')">
          <div class="div_charac">ゆ</div>
          <div class="div_label">yu</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'よ')">
          <div class="div_charac">よ</div>
          <div class="div_label">yo</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopoverParam($event, 'ら')">
          <div class="div_charac">ら</div>
          <div class="div_label">ra</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'り')">
          <div class="div_charac">り</div>
          <div class="div_label">ri</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'る')">
          <div class="div_charac">る</div>
          <div class="div_label">ru</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'れ')">
          <div class="div_charac">れ</div>
          <div class="div_label">re</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'ろ')">
          <div class="div_charac">ろ</div>
          <div class="div_label">ro</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopoverParam($event, 'わ')">
          <div class="div_charac">わ</div>
          <div class="div_label">wa</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'ん')">
          <div class="div_charac">ん</div>
          <div class="div_label">n</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 'を')">
          <div class="div_charac">を</div>
          <div class="div_label">wo</div>
        </div>
      </div>
    </div>

    <div class="shadow shadow-top" aria-hidden="true"></div>
    <div class="shadow shadow-bottom" aria-hidden="true"></div>

  </div>

</ion-content>