<ion-content>
  <div id="ombra" class="container off-bottom">
    <div class="div_table">

      <div class="info_container">


        <!-- <div class="info_icon"></div> -->

        <div class="info_img"><img src="../../assets/icon/info_iconv2.svg" /></div>
        <div class="info">Click on a kana to show more options</div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ア</div>
          <div class="div_label">a</div>
        </div>
        <div class="kana_card" (click)="presentPopoverParam($event, 69, 'い')">
          <div class="div_charac">イ</div>
          <div class="div_label">i</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ウ</div>
          <div class="div_label">u</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">エ</div>
          <div class="div_label">e</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">オ</div>
          <div class="div_label">o</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">カ</div>
          <div class="div_label">ka</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">キ</div>
          <div class="div_label">ki</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ク</div>
          <div class="div_label">ku</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ケ</div>
          <div class="div_label">ke</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">コ</div>
          <div class="div_label">ko</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">サ</div>
          <div class="div_label">sa</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">シ</div>
          <div class="div_label">shi</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ス</div>
          <div class="div_label">su</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">セ</div>
          <div class="div_label">se</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ソ</div>
          <div class="div_label">so</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">タ</div>
          <div class="div_label">ta</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">チ</div>
          <div class="div_label">chi</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ツ</div>
          <div class="div_label">tsu</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">テ</div>
          <div class="div_label">te</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ト</div>
          <div class="div_label">to</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ナ</div>
          <div class="div_label">na</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ニ</div>
          <div class="div_label">ni</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ヌ</div>
          <div class="div_label">nu</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ネ</div>
          <div class="div_label">ne</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ノ</div>
          <div class="div_label">no</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ハ</div>
          <div class="div_label">ha</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ヒ</div>
          <div class="div_label">hi</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">フ</div>
          <div class="div_label">fu</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ヘ</div>
          <div class="div_label">he</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ホ</div>
          <div class="div_label">ho</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">マ</div>
          <div class="div_label">ma</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ミ</div>
          <div class="div_label">mi</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ム</div>
          <div class="div_label">mu</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">メ</div>
          <div class="div_label">me</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">モ</div>
          <div class="div_label">mo</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ヤ</div>
          <div class="div_label">ya</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ユ</div>
          <div class="div_label">yu</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ヨ</div>
          <div class="div_label">yo</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ラ</div>
          <div class="div_label">ra</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">リ</div>
          <div class="div_label">ri</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ル</div>
          <div class="div_label">ru</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">レ</div>
          <div class="div_label">re</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ロ</div>
          <div class="div_label">ro</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ワ</div>
          <div class="div_label">wa</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ン</div>
          <div class="div_label">n</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ヲ</div>
          <div class="div_label">wo</div>
        </div>
      </div>
    </div>

    <div class="shadow shadow-top" aria-hidden="true"></div>
    <div class="shadow shadow-bottom" aria-hidden="true"></div>

  </div>

</ion-content>