<ion-content>
  <div id="ombra" class="container off-bottom">
  <div class="div_table">
    
    <div class="info">Maru (which literally means "circle") is a small round sign that indicates that the h turns into a p</div>

    <div class="title_series">H → P</div>
    
    <div class="div_row">

        <div class="div_charac">は → ぱ</div>
        <div class="div_charac">ひ → ぴ</div>
        <div class="div_charac">ふ → ぷ</div>
    
      </div>
    
      <div class="div_subrow">
    
        <div class="div_label">ha → pa</div>
        <div class="div_label">hi → pi</div>
        <div class="div_label">fu → pu</div>
    
      </div>

      <div class="div_row">

        <div class="div_charac">へ → ぺ</div>
        <div class="div_charac">ほ → ぽ</div>
    
      </div>
    
      <div class="div_subrow">
   
        <div class="div_label">he → pe</div>
        <div class="div_label">ho → po</div>

      </div>

                        

    

    </div>

    <div class="shadow shadow-top" aria-hidden="true"></div>
    <div class="shadow shadow-bottom" aria-hidden="true"></div>

    </div>

  </ion-content>
