<ion-header class="header" class="ion-no-border">
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="top-title">
      {{writingSystem}} Mnemonic
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="settingsPopup()" class="btn_settings_topbar">
        <img src="../assets/icon/settings-icon.svg" class="icon_settings_topbar"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="normal_view" [hidden]="!normal_view">
  <ion-slides pager="true" #slidesMnemo>
    <ion-slide *ngFor="let e of results">
      <div class="slide_content">
      <div class="div_header">
        <p class="pronunciation">{{e.pronunciation}}</p>
        <p class="sound">{{e.name}}</p>
        <ion-icon src="../../assets/icon/sound_on_icon.svg" class="audio" (click)="playPronunciation(e.audio)">Play</ion-icon>
      </div>
      <div class="big"><img src={{e.mnemonicImage}}></div>
      <div class="word">{{e.mnemonicWord}}</div>
      <!-- <div class="word"><div class="important_letter">A</div>pple</div> -->
    </div>
    </ion-slide>
  </ion-slides>
  <ion-button class="btn_map" (click)="goToMap()">
    <img src="../../assets/icon/map.svg">
  </ion-button>
</div>

<div class="map_view" [hidden]="normal_view">
  <div class="block_map">
    <!-- <div class="block_mnemo" *ngFor="let e of results">
      <img src={{e.mnemonicImage}}>
    </div> -->
    <div class="block_mnemo" (click)="goToSlide(e.id)" *ngFor="let e of results">
      <div class="div_charac"><img src={{e.mnemonicImage}}></div>
      <div class="div_label">{{e.name}}</div>
    </div>
  </div>
</div>
 

</ion-content>
