  .normal_view {
    height: 100%;
  }

  .map_view {
    height: 100%;
    display: flex;
  }

  .block_map {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 2vh auto;
    justify-content: center;
  }

  .block_mnemo {
    width: 15vw;
    // background: chartreuse;
    margin: 1vw;
  }

  .div_charac {
    background-color: #3C3430;
    display: flex;
    justify-content: space-evenly;
    border-radius: 2vh 2vh 0 0;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 25%);
    padding: 1.5vw;
  }

  .div_label {
    background-color: #9C694C;
    color: #EDEDED;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 2vh 2vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    margin: auto;
    // width: 14vw;
    height: 5.5vw;
    font-size: 4vw;
  
  }

  .btn_map {
    --background: #9C694C;
    width: 25vw;
    --border-radius: 2vh;
    display: flex;
    margin: auto;
  }
  
  .button-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ion-slides {
    height: 80%;
    // background-color: aqua;
    --bullet-background: #000000;
    // --bullet-background-active: #C3687E;
    // --bullet-background-active: #EDEDED;
    --bullet-background-active: #EDEDED;
  }

  .slide_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    height: 85%;
    width: 75%;
  }

  .div_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #9C694C;
    border-radius: 3vh;
    height: 6vh;

  }

  .pronunciation {
    // color: #3C3430;
    color: #EDEDED;
    font-size: 3vh;
    margin: 0;
  }

  .sound {
    font-size: 5.5vh;
    color: #EDEDED;
    margin: 0;
    // margin-top: -1vh;
  }

  .audio {
    color: #3C3430;
    font-size: 3vh;
  }

 .big {
  margin: auto;
 }

  .word {
    font-size: 5vh;
    color: #EDEDED;
    margin: 0 auto;
  }

  .pagination_index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #EDEDED;
    font-size: 6vw;
  }
