<ion-header class="header">
  <ion-toolbar class="top-toolbar">
    <ion-title class="top-title">
      Learning
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="button-menu">
    
      <ion-button (click)="goToHiraMnemo()">
        <div class="button-inner">
          <ion-icon src="../assets/icon/mnemonic-icon.svg" class="icon-button"></ion-icon>
          <ion-label>Mnemonic</ion-label>
        </div>
      </ion-button>
      
      <ion-button (click)="goToHiraTable()">
        <div class="button-inner">
          <ion-icon src="../assets/icon/table-icon.svg" class="icon-button"></ion-icon>
          <ion-label>Table</ion-label>
        </div>
      </ion-button>
      
  </div>

</ion-content>
