<ion-content>
  <div id="ombra" class="container off-bottom">
  <div class="div_table">

    <div class="info_container">
      <div class="info_img"><img src="../../assets/icon/info_iconv2.svg" /></div>
      <div class="info"><b>Combinations</b> allow for the creation of <b>new sounds</b>. Be careful, the <b>2nd character</b> is a bit <b>smaller</b> to indicate the combination <p class="diff">(キヨ ≠ キョ)</p></div>
    </div>

    <div class="title_series_first">Basic combinations</div>
    
    <div class="div_row">
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">キャ</div>
        <div class="div_label">kya</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">キュ</div>
        <div class="div_label">kyu</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">キョ</div>
        <div class="div_label">kyo</div>
      </div>
    </div>

    <div class="div_row">
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">シャ</div>
        <div class="div_label">sha</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">シュ</div>
        <div class="div_label">shu</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">ショ</div>
        <div class="div_label">sho</div>
      </div>
    </div>

    <div class="div_row">
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">チャ</div>
        <div class="div_label">cha</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">チュ</div>
        <div class="div_label">chu</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">チョ</div>
        <div class="div_label">cho</div>
      </div>
    </div>

    <div class="div_row">
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">ニャ</div>
        <div class="div_label">nya</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">ニュ</div>
        <div class="div_label">nyu</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">ニョ</div>
        <div class="div_label">nyo</div>
      </div>
    </div>

    <div class="div_row">
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">ヒャ</div>
        <div class="div_label">hya</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">ヒュ</div>
        <div class="div_label">hyu</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">ヒョ</div>
        <div class="div_label">hyo</div>
      </div>
    </div>

    <div class="div_row">
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">ミャ</div>
        <div class="div_label">mya</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">ミュ</div>
        <div class="div_label">myu</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">ミョ</div>
        <div class="div_label">myo</div>
      </div>
    </div>

    <div class="div_row">
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">リャ</div>
        <div class="div_label">rya</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">リュ</div>
        <div class="div_label">ryu</div>
      </div>
      <div class="kana_card" (click)="presentPopover($event)">
        <div class="div_charac">リョ</div>
        <div class="div_label">ryo</div>
      </div>
    </div>

      <div class="title_series">Combinations with ten-ten</div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ギャ</div>
          <div class="div_label">gya</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ギュ</div>
          <div class="div_label">gyu</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ギョ</div>
          <div class="div_label">gyo</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ジャ</div>
          <div class="div_label">ja</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ジュ</div>
          <div class="div_label">ju</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ジョ</div>
          <div class="div_label">jo</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ビャ</div>
          <div class="div_label">bya</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ビュ</div>
          <div class="div_label">byu</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ビョ</div>
          <div class="div_label">byo</div>
        </div>
      </div>

      <div class="title_series">Combinations with maru</div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ピャ</div>
          <div class="div_label">pya</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ピュ</div>
          <div class="div_label">pyu</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ピョ</div>
          <div class="div_label">pyo</div>
        </div>
      </div>

      <div class="title_series">Additional sounds</div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ヴァ</div>
          <div class="div_label">va</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ヴィ</div>
          <div class="div_label">vi</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ヴェ</div>
          <div class="div_label">ve</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ヴォ</div>
          <div class="div_label">vo</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ウィ</div>
          <div class="div_label">wi</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ウェ</div>
          <div class="div_label">we</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ウォ</div>
          <div class="div_label">wo</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ファ</div>
          <div class="div_label">fa</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">フィ</div>
          <div class="div_label">fi</div>
        </div>
      </div>
      
      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">フェ</div>
          <div class="div_label">fe</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">フォ</div>
          <div class="div_label">fo</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">チェ</div>
          <div class="div_label">che</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ディ</div>
          <div class="div_label">di</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ドゥ</div>
          <div class="div_label">du</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ティ</div>
          <div class="div_label">ti</div>
        </div>
      </div>

      <div class="div_row">
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">トゥ</div>
          <div class="div_label">tu</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">ジェ</div>
          <div class="div_label">je</div>
        </div>
        <div class="kana_card" (click)="presentPopover($event)">
          <div class="div_charac">シェ</div>
          <div class="div_label">she</div>
        </div>
      </div>
    

    </div>

    <div class="shadow shadow-top" aria-hidden="true"></div>
    <div class="shadow shadow-bottom" aria-hidden="true"></div>

    </div>

  </ion-content>
