.header {
    text-align: center;
  }
  
  .top-toolbar {
    --background: #A18585;
    --color: #262626;
  }
  
  .top-title {
    font-size: 30px;
    font-weight: 600;
  }
  
  ion-content {
    --background: #433121;
  }
  
  ion-tab-bar {
    --background: #262626;
  }
  
  ion-tab-button {
    --color-selected: #C57185;
  }
  
  .logo {
    height: 20%;
    margin: 7% auto;
    display: block;
    
  }
  
  .button-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  ion-button {
    width: 15vh;
    height: 15vh;
    margin: 0 auto 20% auto;
    --border-radius: 3.5vh;
    --background: #C57185;
    --background-activated: #965462;
    --background-hover: #262626;
    // font-size: 5vh;
    text-transform: none;
    letter-spacing: 1px;
    // --box-shadow: 100px;
    --color: #D6D6D6;
    display: flex;
    flex-direction: column;
  }
  
  .menu_block {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    width: 85%;
  }

  .row_block {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto auto -4vh auto;
  }

  .button_img {
    width: 8vh;
  }

  .button_icon {
    font-size: 6.5vh;
    // padding-top: 1.5vh;
    margin: 1vh 1vh 0.5vh 1vh;
    opacity: 0.73;
  }

  .button_label {
    font-size: 2vh;
    // font-weight: 600;
    margin: 0;
    color: #D6D6D6;
    // font-family: 'Roboto', normal;
    // margin: auto auto 0 auto;
  }