<ion-header class="header">
  <ion-toolbar class="top-toolbar">
    <ion-title class="top-title">
      Practice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../assets/logo_nihongokay.png" class="logo">
  
  <div class="menu_block">
    
    <div class="row_block">
     
      <ion-button (click)="goToQuizz('hiragana','phonetic')">
        <div class="button_content">
          <p class="button_label">Phonetic</p>
          <img src="../../assets/icon/practice_button_icon_hira_alphabet.png" class="button_img">
          <p class="button_label">Hiragana</p>
        </div>
      </ion-button>

      <ion-button (click)="goToQuizz('hiragana','word')">
        <div class="button_content">
          <p class="button_label">Words</p>
          <img src="../../assets/icon/practice_button_icon_hira_word.png" class="button_img">
          <p class="button_label">Hiragana</p>
        </div>
      </ion-button>

    </div>

    <div class="row_block">
     
      <ion-button (click)="goToQuizz('katakana','phonetic')">
        <div class="button_content">
          <p class="button_label">Phonetic</p>
          <img src="../../assets/icon/practice_button_icon_kata_alphabet.png" class="button_img">
          <p class="button_label">Katakana</p>
        </div>
      </ion-button>

      <ion-button (click)="goToQuizz('katakana','word')">
        <div class="button_content">
          <p class="button_label">Words</p>
          <img src="../../assets/icon/practice_button_icon_kata_word.png" class="button_img">
          <p class="button_label">Katakana</p>
        </div>
      </ion-button>

    </div>

  </div>


</ion-content>


  

