<ion-header class="header" class="ion-no-border">
  <ion-toolbar class="top-toolbar">
    <!-- <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> -->
    <ion-title class="top-title">
      Practice Result
    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <img src="../assets/icon/settings-icon.svg" class="icon_settings_topbar"/>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="main_block">

    <!-- <div class="emote_score">
        <img src="../../assets/img/emote_ok.png">
    </div> -->
  
    <div class="direction">Your score is</div>

    <div class="note">{{score}}/5</div>

    <div class="nav_button">
      <ion-button (click)="goHome()" class="buttons">Go Home</ion-button>
      <ion-button (click)="goToQuizz()" class="buttons">Try Again</ion-button>
    </div>

    <div class="summary_container">
      <div class="fail_section" *ngIf="isFail">
        <div class="fail_element_div" *ngFor="let fail of fail_tab">
          <p class="fail_element">{{fail}}</p>
        </div>
      </div>
      <div class="success_section" *ngIf="isSuccess">
        <div class="success_element_div" *ngFor="let success of success_tab">
          <p class="success_element">{{success}}</p>
        </div>
      </div>
    </div>

    <!-- <div class="summary_container">
      <div class="fail_section">
        <div class="fail_element_div">
          <p class="fail_element">ま</p>
        </div>
        <div class="fail_element_div">
          <p class="fail_element">ま</p>
        </div>
        <div class="fail_element_div">
          <p class="fail_element">ま</p>
        </div>
        <div class="fail_element_div">
          <p class="fail_element">ま</p>
        </div>
        <div class="fail_element_div">
          <p class="fail_element">ま</p>
        </div>
      </div>
      <div class="success_section">
        <div class="success_element_div">
          <p class="success_element">の</p>
        </div>
        <div class="success_element_div">
          <p class="success_element">の</p>
        </div>
        <div class="success_element_div">
          <p class="success_element">の</p>
        </div>
        <div class="success_element_div">
          <p class="success_element">の</p>
        </div>
        <div class="success_element_div">
          <p class="success_element">の</p>
        </div>
      </div>
      <div class="success_section">
        <div class="success_element_div">
          <p class="success_element">の</p>
        </div>
        <div class="success_element_div">
          <p class="success_element">の</p>
        </div>
        <div class="success_element_div">
          <p class="success_element">の</p>
        </div>
        <div class="success_element_div">
          <p class="success_element">の</p>
        </div>
        
      </div>
    </div> -->


  </div>

</ion-content>
