

  .main_block {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      height: 70%;
    width: 85%;
    margin: 3vh auto;
  }

  .emote_score {
      display: flex;
      justify-content: center;
    height: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .direction {
      display: flex;
      text-align: center;
      color: #D6D6D6;
      font-size: 5vw;
      margin: 0 auto;
      margin-bottom: 3%;
  }

  .note {
    display: flex;
    font-size: 9vw;
    color: #D6D6D6;
    text-align: center;
    /* font-weight: 600; */
    letter-spacing: 1px;
    margin: 0 auto;
    margin-bottom: 3%;
  }

  .nav_button {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 2% 0;
  }

  .block_charac {
    width: 20vh;
    height: 20vh;
    margin-bottom: 10%;
    border-radius: 20px;
    background: #C57185;
    // font-size: 20vh;
    text-transform: none;
    letter-spacing: 1px;
    box-shadow: 5px 5px 5px rgb(38, 38, 38, 0.2);
    color: #D6D6D6;
    margin-left: auto;
    margin-right: auto;
  }

  .content_block_charac {
      text-align: center;
      font-weight: 600;
      font-size: 15vh;
      margin: auto;
  }

  ion-input {
      --background: #D6D6D6;
      --color: #262626;
      height: 100%;
      border-radius: 5px;
    //   margin-right: 5%;
  }

  .buttons {
    text-transform: none;
    font-size: 5vw;
    --border-radius: 4vw;
    color: #EDEDED;
    --background: #9C694C;
    // --padding-start: 6vw;
    // --padding-end: 6vw;
    --padding-top: 6vw;
    --padding-bottom: 6vw;
    width: 35vw;
  }

  .check_container {
    margin-left: 5%;
    height: 100%;
    margin-top: auto;
  }

  .img_check {
    // width:auto;
    height: 60%;
}

.next {
    margin: auto;
}

.summary_container {
  display: flex;
  flex-direction: column;
  background: #3C3430;
  border-radius: 4vh;
  width: 100%;
  margin-top: 4vh;
  padding-bottom: 2vh;
}

.fail_section {
  display: flex;
  flex-direction: row;
  margin: 1vh 4vw;
  margin-bottom: -1vh;
  margin-right: 0;
    flex-wrap: wrap;
}

.fail_element_div {
  
    margin: 1vh 0;
    display: flex;
    /* justify-content: flex-end; */
    /* width: -webkit-max-content; */
    /* width: max-content; */
    padding-right: 2vw;
}

.fail_element {
  color: #EDEDED;
  background: #773434;
  border-radius: 1.5vh;
    font-size: 5vw;
    padding: 0.7vh 1.5vh;
    margin: 0 0.4vw;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 25%)
}

.success_section {
  display: flex;
  flex-direction: row;
  margin: 1vh 4vw;
  margin-bottom: -1vh;
  margin-right: 0;
    flex-wrap: wrap;
  
}

.success_element_div {
  
  margin: 1vh 0;
    display: flex;
    padding-right: 2vw;
}

.success_element {
  color: #EDEDED;
  background: #65a53e;
  border-radius: 1.5vh;
    font-size: 5vw;
    padding: 0.7vh 1.5vh;
    margin: 0 0.4vw;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 25%)
}