

  .main_block {
      display: flex;
      flex-direction: column;
      // height: 50%;
      width: 100%;
      // background: #262626;
      position: fixed;
  }

  .progress_bar {
    --background:#3C3430;
    --progress-background:#9C694C;
    height: 2vh;
  }

  .direction {
      text-align: center;
      color: #262626;
      font-size: 5vw;
      max-width: 90%;
      min-height: 0;
      margin: -5% auto auto auto;
  }

  .progression {
      text-align: center;
      // font-weight: 600;
      color: #EDEDED;
      font-size: 5vw;
      min-height: 0;
  }

  .progression_retake {
    text-align: center;
    // font-weight: 600;
    color: #DB7890;
    font-size: 5vw;
    min-height: 0;
}

  .block_charac {
    margin-bottom: 5%;
    border-radius: 6vw;
    background: #9C694C;
    text-transform: none;
    box-shadow: 5px 5px 5px rgb(38 38 38 / 20%);
    color: #EDEDED;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 30vw;
    perspective: 1000px;
  }

  .block_charac.flip .flipper {
    transform: rotateY(180deg);
}

  .content_block_charac {
    text-align: center;
    font-size: 20vw;
    min-height: 0;
    margin: 0;
    padding: 0;
    // margin-top: -2vw;
  }

  .input_block {
      display: flex;
      flex-direction: row;
      justify-content: center;
      // height: 4vh;
      height: 9vw;
      width: 70%;
      margin: auto;
      // min-height: 0;
      // background: #D6D6D6;
      font-size: 5vw;
      
  }



  ion-input {
      --background: #EDEDED;
      --color: #262626;
      height: 100%;
      border-radius: 0.5vh 0 0 0.5vh;
      --padding-start: 5%;
      box-shadow: 3px 3px 5px rgb(38, 38, 38, 0.2);
  }

  .check_container {
    // margin-left: 5%;
    margin-left: 0;
    height: 100%;
    margin-top: auto;
    --border-radius: 0 0.5vh 0.5vh 0;
    --background: #9C694C;
  }

  .img_check {
    // width:auto;
    height: 60%;
    fill: #773434;
    color: #773434;
}

.mistake_block {
  display: flex;
  flex-direction: column;
  // background-color: #262626;
//   width: 70%;
  min-height: 0;
  margin: auto;
  // position: fixed;
//   width: 40vw;
width: 100%;
}

.correct_answer_block {
    display: flex;
    flex-direction: row;
    background-color: #65a53e;
    // width: 70%;
    min-height: 0;
    margin: auto;
    font-size: 5vw;
    padding: 2vw;
    border-radius: 2vw;
  }

.mistake_content {
    color: #EDEDED;
    // background: #773434;
    // background: #C85252;
    background: #a24040;
    font-size: 4.5vw;
    min-width: 0;
    // padding: 1.5vw 20%;
    padding: 2vw;
    margin: auto;
    border-radius: 2vw;
}

.mistake_button {
    display: flex;
    flex-direction: row;
    margin: 5% auto;
    justify-content: space-evenly;
    width: 80%;
    // background: azure;
}

.show_answer {
    margin: auto;
    text-transform: none;
    min-height: 0;
    /* font-size: max(3vw, 1.8vh); */
    font-size: 5vw;
    --border-radius: 2vw;
    color: #EDEDED;
    --background: #9C694C;
    /* padding: 3vw; */
    /* --padding-top: 3vw; */
    /* --padding-bottom: 3vw; */
    --padding-start: 6vw;
    --padding-end: 6vw;
    width: 45vw;
}

.next {
    margin: auto;
    text-transform: none;
    min-height: 0;
    /* font-size: max(3vw, 1.8vh); */
    font-size: 5vw;
    --border-radius: 2vw;
    color: #EDEDED;
    --background: #9C694C;
    /* padding: 3vw; */
    /* --padding-top: 3vw; */
    /* --padding-bottom: 3vw; */
    --padding-start: 6vw;
    --padding-end: 6vw;
}

.block_transition_to_retake_block {
        /* margin-bottom: 5%; */
        border-radius: 4vw;
        background: #9C694C;
        text-transform: none;
        /* box-shadow: 5px 5px 5px rgb(38 38 38 / 20%); */
        color: #EDEDED;
        /* margin-left: auto; */
        /* margin-right: auto; */
        /* width: 30vw; */
        /* height: 30vw; */
        margin: 20% auto;
        padding: 3vw;
        font-size: 5vw;
  }


//--------------------




  /*
   *  Flip animation by David Walsh: https://davidwalsh.name/css-flip
   */

  /* entire container, keeps perspective */
  .flip-container {
      perspective: 1000px;
  }

      /* flip the pane when hovered */
      .flip-container.flip .flipper {
          transform: rotateY(180deg);
      }

  .flip-container, .front, .back {
      width: 30vw;
      height: 30vw;
      // margin: 20px auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%;
      border-radius: 6vw;

  }

  /* flip speed goes here */
  .flipper {
      transition: 0.6s;
      transform-style: preserve-3d;

      position: relative;
  }

  /* hide back of pane during swap */
  .front, .back {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #9C694C;
      backface-visibility: hidden;
      // -webkit-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
      // -moz-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
      box-shadow: 5px 5px 5px rgb(38 38 38 / 20%);
      // border: 1px solid #dee2e3;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
  }

  /* front pane, placed above back */
  .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .back {
      transform: rotateY(180deg);
  }

