

  .main_block {
      display: flex;
      flex-direction: column;
      // height: 50%;
      width: 100%;
      // background: #262626;
      position: fixed;
  }

  .progress_bar {
    --background:#3C3430;
    --progress-background:#9C694C;
    height: 2vh;
  }

  .direction {
      text-align: center;
      color: #262626;
      font-size: 5vw;
      max-width: 90%;
      min-height: 0;
      margin: -5% auto auto auto;
  }

  .progression {
      text-align: center;
      // font-weight: 600;
      color: #EDEDED;
      font-size: 5vw;
      min-height: 0;
  }

  .block_charac {
    margin-bottom: 5%;
    border-radius: 6vw;
    background: #9C694C;
    text-transform: none;
    box-shadow: 5px 5px 5px rgb(38 38 38 / 20%);
    color: #EDEDED;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 30vw;
  }

  .content_block_charac {
    text-align: center;
    font-size: 24vw;
    min-height: 0;
    margin: 0;
    padding: 0;
    margin-top: -2vw;
  }

  .input_block {
      display: flex;
      flex-direction: row;
      justify-content: center;
      // height: 4vh;
      height: 9vw;
      width: 70%;
      margin: auto;
      // min-height: 0;
      // background: #D6D6D6;
      font-size: 5vw;
      
  }



  ion-input {
      --background: #EDEDED;
      --color: #262626;
      height: 100%;
      border-radius: 0.5vh 0 0 0.5vh;
      --padding-start: 5%;
      box-shadow: 3px 3px 5px rgb(38, 38, 38, 0.2);
  }

  ion-button {
      --background: #9C694C;
  }

  .check_container {
    // margin-left: 5%;
    margin-left: 0;
    height: 100%;
    margin-top: auto;
    --border-radius: 0 0.5vh 0.5vh 0;
  }

  .img_check {
    // width:auto;
    height: 60%;
    fill: #773434;
    color: #773434;
}

.mistake_block {
  display: flex;
  flex-direction: row;
  // background-color: #262626;
  width: 70%;
  min-height: 0;
  margin: auto;
  // position: fixed;
}

.mistake_content {
    color: #EDEDED;
    background: #773434;
    font-size: 5vw;
    min-width: 0;
    padding: 1.5vw 20%;
    margin: auto;
    border-radius: 1vw;
}

.next {
    margin: auto;
    text-transform: none;
    min-height: 0;
    font-size: max(3vw, 1.8vh);
    --border-radius: 2vw;
    color: #EDEDED;
}