<ion-header class="header">
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="top-title">
      Practice {{writingSystem}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




<div class="main_block">

  <p class="progression" *ngIf="normal_session">Progression : {{progression}}/5</p>
  <p class="progression" *ngIf="retake_session">Retake Session</p>

  <div class="direction">
    <p>What's the roumaji for this {{writingSystem}} ?</p>
  </div>

  <div class="block_charac">
    <p class="content_block_charac">{{current_charac}}</p>
  </div>

  <div class="input_block" *ngIf="inputShown">
    <ion-input placeholder="Type your answer..." autofocus="true" (keyup.enter)="validateInput()" [(ngModel)]="input_value"></ion-input>
    <!-- <input placeholder="Type your answer..." autofocus="true" (keyup.enter)="validateInput()" [(ngModel)]="input_value"> -->
    <ion-button class="check_container" (click)="validateInput()">
      <img src="../assets/icon/check.png" class="img_check"/>
    </ion-button>
  </div>



<div *ngIf="mistake" class="mistake_block">
  
  <div class="mistake_content">{{input_value}} → {{current_name}}</div>
    <ion-button (click)="goNext()" *ngIf="mistake" class="next">Next</ion-button>

</div>

</div>

</ion-content>
