<ion-content>
  <!-- When it's a character -->
  <div class="popoverContent" *ngIf="isCharacter">
    <div class="top_part_popover">
      <div class="top_left_part_popover">
        <p class="popoverText">Kana : {{finalContent.character}}</p>
    <p class="popoverText">Roumaji : {{finalContent.name}}</p>
    <p class="popoverText">Pronunciation : {{finalContent.pronunciation}}</p>
  </div>
    <ion-icon src="../../assets/icon/sound_on_icon.svg" class="audio_popover" (click)="playPronunciation(finalContent.audio)">Play</ion-icon>
    </div>
    <hr class="seperatorv2">
    <p class="popoverText">Appears in :</p>
    <div class="kana_example">
      <p class="popoverExampleTextNotPink">{{finalContent.example1}}</p>
    </div>
    <div class="kana_example" *ngIf="!isKatakana">
      <p class="popoverExampleTextNotPink">{{finalContent.example2}}</p>
      <!-- <p class="popoverExampleTextNotPink">-</p>
      <div class="artificial_space"></div>
      <p class="popoverExampleTextPink">あ</p>
      <p class="popoverExampleTextNotPink">め</p>
      <div class="artificial_space"></div>
      <p class="popoverExampleTextNotPink">→</p>
      <div class="artificial_space"></div>
      <p class="popoverExampleTextPink">a</p>
      <p class="popoverExampleTextNotPink">me (Rain)</p> -->
    </div>
    <div class="kana_example" *ngIf="!isKatakana">
      <p class="popoverExampleTextNotPink">{{finalContent.example3}}</p>
      <!-- <p class="popoverExampleTextNotPink">- おか</p>
      <p class="popoverExampleTextPink">あ</p>
      <p class="popoverExampleTextNotPink">さん</p>
      <div class="artificial_space"></div>
      <p class="popoverExampleTextNotPink">→</p>
      <div class="artificial_space"></div>
      <p class="popoverExampleTextNotPink">oka</p>
      <p class="popoverExampleTextPink">a</p>
      <p class="popoverExampleTextNotPink">san (Mother)</p> -->
    </div>
    <hr class="seperatorv2">
    <p class="popoverText">Katakana equivalent : {{finalContent.equivalent}}</p>
  </div>

  <!-- When it's a word -->
  <div class="popoverContent" *ngIf="!isCharacter">
      <p class="popoverText">Roumaji : {{finalContent.name}}</p>
    <hr class="seperatorv2">
    <p class="popoverText">Translation : {{finalContent.translation}}</p>
  </div>

</ion-content>