<ion-content>
  <div class="popoverContent">
    <!-- <p class="popoverText">Pronunciation : [a]</p> -->
    <p class="popoverText">Pronunciation : [{{modelId}}]</p>
    <hr class="seperatorv2">
    <p class="popoverText">Appears in :</p>
    <div class="kana_example">
      <p class="popoverExampleTextNotPink">-</p>
      <div class="artificial_space"></div>
      <!-- <p class="popoverExampleTextPink">あ</p> -->
      <p class="popoverExampleTextPink">{{modalTitle}}</p>
      <p class="popoverExampleTextNotPink">りがとう</p>
      <div class="artificial_space"></div>
      <p class="popoverExampleTextNotPink">→</p>
      <div class="artificial_space"></div>
      <p class="popoverExampleTextPink">a</p>
      <p class="popoverExampleTextNotPink">rigatou (Thank you)</p>
    </div>
    <div class="kana_example">
      <p class="popoverExampleTextNotPink">-</p>
      <div class="artificial_space"></div>
      <p class="popoverExampleTextPink">あ</p>
      <p class="popoverExampleTextNotPink">め</p>
      <div class="artificial_space"></div>
      <p class="popoverExampleTextNotPink">→</p>
      <div class="artificial_space"></div>
      <p class="popoverExampleTextPink">a</p>
      <p class="popoverExampleTextNotPink">me (Rain)</p>
    </div>
    <div class="kana_example">
      <p class="popoverExampleTextNotPink">- おか</p>
      <p class="popoverExampleTextPink">あ</p>
      <p class="popoverExampleTextNotPink">さん</p>
      <div class="artificial_space"></div>
      <p class="popoverExampleTextNotPink">→</p>
      <div class="artificial_space"></div>
      <p class="popoverExampleTextNotPink">oka</p>
      <p class="popoverExampleTextPink">a</p>
      <p class="popoverExampleTextNotPink">san (Mother)</p>
    </div>
    <hr class="seperatorv2">
    <p class="popoverText">Katakana equivalent : ア</p>
  </div>

</ion-content>