.info_container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: aqua;
  align-items: center;
}

.info_img {
  max-width: 7vw;
  width: 7vw;
  margin-left: 0;
  z-index: 2;
  position: absolute;
  margin-top: -2%;
}

.info {
  font-size: 15px;
  color: #3C3430;
  background: #DB7890;
  border-radius: 9vw;
  padding: 10px;
  text-align: center;
  margin-bottom: 5%;
  position: relative;     
  top: 0;
  left: 1%;
  z-index: 1;
}

#slidesInfo {
  // padding-top: 0 !important;
}

ion-slides {
  padding-top: 0 !important;
  display: flex;
  align-self: center;
}
  
  .button-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  // ion-button {
  //   width: 200px;
  //   max-width: 60%;
  //   height: 40px;
  //   margin: 3% 0;
  //   --border-radius: 10px;
  //   --background: #C57185;
  //   --background-activated: #262626;
  //   --background-hover: #262626;
  //   font-size: 20px;
  //   text-transform: none;
  //   letter-spacing: 1px;
  //   --box-shadow: 5px 5px 5px rgb(38, 38, 38, 0.2);
  //   --color: #D6D6D6;
  // }

  .btn_slider1 {

  }

  .btn_slider2 > img {
    transform: rotate(180deg);
  }
  
  .icon-button {
    margin: -5px 5px;
    height: 50%;
  }

  // #ombra {
  //   overflow:hidden;
  //   position:relative;
  //   .div_table {
  //     height:100%;
  //     overflow:auto;
  //   }
  //   .shadow {
  //     bottom:0;      
  //     left:0;
  //     pointer-events:none;
  //     position:absolute;
  //     right:0;
  //     top:0;
  //     transition:all .2s ease-out;
  //   }
  //   &.off-top {
  //     .shadow-top {
  //       box-shadow:0 2em 2em -2em black inset;
  //     }
  //   }
  //   &.off-bottom {    
  //     .shadow-bottom {
  //       box-shadow:0 -2em 2em -2em black inset;
  //     }
  //   }
  // }

  .switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .button1 {
    background: #9D694C;
    color: #262626;
    font-size: 2.5vh;
    border-radius: 1vh 0 0 0;
    padding: 0.5vh 2vh;
  }

  .button1v2 {
    background: #262626;
    color: #D6D6D6;
    font-size: 2.5vh;
    border-radius: 1vh 0 0 0;
    padding: 0.5vh 2vh;
  }

  .button2 {
    background: #262626;
    color: #D6D6D6;
    font-size: 2.5vh;
    border-radius: 0 1vh 0 0;
    padding: 0.5vh 2vh;
  }

  .button2v2 {
    background: #9D694C;
    color: #262626;
    font-size: 2.5vh;
    border-radius: 0 1vh 0 0;
    padding: 0.5vh 2vh;
  }

  .title_series {
      background: #9D694C;
      color: #D6D6D6;
      font-size: 25px;
      font-weight: 600;
      border-radius: 10px;
      margin-bottom: 5%;
      margin-top: 7%;
    //   padding: 2px 0px;
      text-align: center;
    //   box-shadow: 2px 2px 5px #262626;
    }
  
  .div_table {
    margin: 5%;
  }

  .div_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .div_charac {
    background-color: #9D694C;
    color: #D6D6D6;

    font-size: min(5vw, 60px); //used to be min(8vw, 60px)
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 5px;
    padding: 3px 10px;
    // box-shadow: 2px 2px 5px black;
    border: 0.5vw solid #262626;
  
  }
  
  .div_charac2 {

    background-color: #9D694C;
    color: #D6D6D6;

    font-size: min(5vw, 60px);
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 5px;
    padding: 3px 10px;
    // box-shadow: 2px 2px 5px black;
    border: 0.5vw solid #262626;
  
  }
  
  .div_subrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .div_label {
    background-color: #262626;
    color: #D6D6D6;
    // font-size: 12px;
    font-size: min(4vw, 30px);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: auto;
    border-radius: 5px;
    padding: 3px 10px;
    // width: 15%;
    // max-width: 82px;
  
  }
  
  ion-slides {
    width: 100%;
    --bullet-background: #D6D6D6;
    --bullet-background-active: #C57185;
    --progress-bar-background: #262626;
    padding-top: 30px;
  }
  