<ion-header class="header">
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="top-title">
      Hiragana Mnemonic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide_content">
      <div class="div_header">
        <p class="pronunciation">[a]</p>
        <p class="sound">a</p>
        <ion-icon src="../../assets/icon/speaker.svg" class="audio" (click)="testaudio()">Play</ion-icon>
      </div>
      <div class="big"><img src="../../assets/mnemo_hira_a.png"></div>
      <div class="word">Apple</div>
    </div>
    </ion-slide>
    <ion-slide>
      <h1>Coming soon...</h1>
    </ion-slide>
  </ion-slides>
 

</ion-content>
