<ion-header class="header">
  <ion-toolbar class="top-toolbar">
    <ion-title class="top-title">
      Practice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="div-guideline">
  <p>Select the amount of characters you want to be tested on :</p>
  </div>
  
  
  <div class="button-menu">
    
      <ion-button>Kouhai : 10</ion-button>
      <ion-button>Senpai : 20</ion-button>
      <ion-button>Sensei : 30</ion-button>
      <ion-button>Samourai : 50</ion-button>
      <ion-button>Kami-sama : 100</ion-button>
   
  </div>

</ion-content>
