<ion-header class="header">
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="top-title">
      Practice
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="div-guideline">
  <p>Select the amount of characters you want to be tested on :</p>
  </div>
  
  
  <div class="button-menu">
    
    <!-- fish -->
    <ion-button (click)="goToQuizz(10, 'Hiragana')"><img class="img_button" src="../../assets/icon/carp-edited.png" />10</ion-button>
    <!-- cat -->
    <ion-button>Senpai : 20</ion-button>
    <!-- fox or phoenix -->
    <ion-button>Sensei : 30</ion-button>
    <!-- tigre -->
    <ion-button>Samourai : 50</ion-button>
    <!-- dragon -->
    <ion-button>Kami-sama : 100</ion-button>
   
  </div>

</ion-content>
