.header {
    text-align: center;
  }
  
  .top-toolbar {
    --background: #A18585;
    --color: #262626;
  }
  
  .top-title {
    // font-size: 25px;
    font-size:2.8vh;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  ion-content {
    --background: #433121;
  }
  
  ion-tab-bar {
    --background: #262626;
  }
  
  ion-tab-button {
    --color-selected: #C57185;
  }
  
  .logo {
    height: 20%;
    margin: 7% auto;
    display: block;
    
  }
  
  .button-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  ion-button {
    width: 20vh;
    height: 20vh;
    margin-bottom: 10%;
    --border-radius: 20px;
    --background: #C57185;
    --background-activated: #262626;
    --background-hover: #262626;
    font-size: 3vh;
    text-transform: none;
    letter-spacing: 1px;
    --box-shadow: 5px 5px 5px rgb(38, 38, 38, 0.2);
    --color: #D6D6D6;
  }
  
  .icon-button {
    margin: -5px 5px;
    height: 50%;
  }

  p {
    font-size: 20px;
    text-transform: none;
    letter-spacing: 1px;
    color: #D6D6D6;
  }

  .div-guideline {
    text-align: center;
    width: 250px;
    margin: auto;
  }

  .img_button {
    width: 80%;
    vertical-align:text-top;
  }