
  .button-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  ion-button {
    width: 200px;
    max-width: 60%;
    height: 40px;
    margin: 3% 0;
    --border-radius: 10px;
    --background: #C57185;
    --background-activated: #262626;
    --background-hover: #262626;
    font-size: 20px;
    text-transform: none;
    letter-spacing: 1px;
    --box-shadow: 5px 5px 5px rgb(38, 38, 38, 0.2);
    --color: #D6D6D6;
  }
  
  .icon-button {
    margin: -5px 5px;
    height: 50%;
  }

  // #ombra {
  //   overflow:hidden;
  //   position:relative;
  //   .div_table {
  //     height:100%;
  //     overflow:auto;
  //   }
  //   .shadow {
  //     bottom:0;      
  //     left:0;
  //     pointer-events:none;
  //     position:absolute;
  //     right:0;
  //     top:0;
  //     transition:all .2s ease-out;
  //   }
  //   &.off-top {
  //     .shadow-top {
  //       box-shadow:0 2em 2em -2em black inset;
  //     }
  //   }
  //   &.off-bottom {    
  //     .shadow-bottom {
  //       box-shadow:0 -2em 2em -2em black inset;
  //     }
  //   }
  // }

  .info_container {
    position: relative;
    margin: auto 5%;
  }

  .info_img {
    max-width: 7vw;
    width: 7vw;
    margin-left: -2%;
    z-index: 2;
    position: absolute;
    margin-top: -2%;
  }

  .info {
    font-size: 15px;
    color: #3C3430;
    background: #C3687E;
    border-radius: 7vw;
    padding: 10px;
    text-align: center;
    margin-bottom: 5%;
    position: relative;     
    top: 0;
    left: 1%;
    z-index: 1;
}

  .title_series_first {
      background: #9D694C;
      color: #D6D6D6;
      font-size: 25px;
      font-weight: 600;
      border-radius: 10px;
      margin-bottom: 5%;
      margin-top: 3%;
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
    }
  
  .div_table {
    margin: 5% 0;
  }

  .div_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1.5vh;
  }

  .div_charac {
    background-color: #9C694C;
    color: #EDEDED;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2vh 2vh 0 0;
    margin: auto;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 25%);
    width: 27vw;
    height: 12vw;
    font-size: 6vw;
  
  }
  
  .div_subrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .div_label {
    background-color: #3C3430;
    // background-color: #9C694C;
    color: #EDEDED;
    // color: #3C3430;
    // font-size: 12px;
    // font-size: min(4vw, 30px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 2vh 2vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    // padding: 2px 10px;
    margin: auto;
    // width: 15%;
    // max-width: 82px;
    width: 27vw;
    height: 5.5vw;
    font-size: 3.5vw;
  
  }
  
  ion-slides {
    width: 100%;
    --bullet-background: #D6D6D6;
    --bullet-background-active: #C57185;
    --progress-bar-background: #262626;
    padding-top: 30px;
  }
  