/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-content {
  --background: #534943;
}

//-------------start HEADER SECTION-----------------//

.top-toolbar {
  --background: #534943;
  --color: #EDEDED;
}

// title inside the top bar
.top-title {
  font-size: 6vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  color: #EDEDED;
  padding: 0;
}

.icon_settings_topbar {
  height: 100%;
}

.header {
  text-align: center;
}

ion-back-button {
  color: #EDEDED;
}

//-------------end HEADER SECTION-----------------//

//-------------start SUPER TAB SECTION-----------------//

super-tabs {  
  --super-tabs-toolbar-background: #3C3430;
  --st-indicator-color: #EDEDED;
  --st-base-color-inactive: #929292;
  --st-base-color-active: #EDEDED;
}

super-tabs-toolbar, super-tab-button {
  height: 8vh;
}

super-tabs { ion-label {
  text-transform: none;
}}

//-------------end HEADER SECTION-----------------//

//-------------start MODAL SETTINGS SECTION-----------------//


.settingsStyle {
  --background: #534943;
  --border-radius: 200px !important;
  // --backdrop-opacity: 0.93 !important;
}

.sc-ion-modal-md-h {
  --backdrop-opacity: 0.43 !important;
}

.sc-ion-modal-ios-h {
  --backdrop-opacity: 0.43 !important;
}

.modalCss .modal-wrapper { 
  width: 70%;
  height: 55%;
  border-radius: 3vh;
  border: 5px solid #3C3430;
}

.settings_toolbar {
  // --background: #534943;
  --background: #3C3430;
  --color: #EDEDED;
  // height: 10vw;
  ion-title {
    height: 5vh;
  }
  --height:4%!important;
}

.header_settings {
  // height: 20vw;
}

.close_window_button {
  --background: #9D694C;
  color: #EDEDED;
  position: absolute;
  right: 2vw;
  top: 0;
  // --border-radius: 3vw;
  --border-radius: 15px;
  /* width: 9vw; */
  // height: vw;
  zoom: 0.7;
}

.close_icon {
  width: 6vw;
    max-width: fit-content;
    padding: -2vw;
    margin: 0 -1vw;
}

.popupContent {
  display: flex;
  flex-direction: column;
  // box-shadow: 10px 0px 0px 10px black inset;
  // border: 5px solid #3C3430;
}

.sound_button_on {
  --background: #C3687E;
  --border-radius: 2vh;
  height: 6.5vh;
  width: 11vh;
}

.delete_button {
  --background: #C85252;
  --border-radius: 2vh;
  height: auto;
  width: fit-content;
  margin: auto;
  height: 6.5vh;
  width: 11vh;
}

.img_sound_on {
  height: 5vh;
}

.img_sound_off {
  height: 5vh;
  fill: #EDEDED;
}

.img_delete {
  height: 6.5vh;
}

.settings_sublabel {
  text-align: center;
  font-size: 5vw;
  margin: 2vh auto 1vh auto;
  color: #EDEDED;
}

.popupContentTop {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.seperator {
  border-top: 1px solid #9D694C;
  width: 80%;
}

.popupContentBottom {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 80%;
  justify-content: space-evenly;
  margin: auto;
}

.settings_description {
  font-size: 3vw;
  text-align: center;
  color: #EDEDED;
}

.github_button {
  --background: #9D694C;
  --border-radius: 2vh;
  height: auto;
  width: fit-content;
  margin: 1vh auto;
}

.img_github {
  height: 6.5vh;
  padding: 1vh;
}

.settings_brand {
  font-size: 4.5vw;
  text-align: center;
  color: #EDEDED;
}

//-------------end MODAL SETTINGS SECTION-----------------//

//-------------start MODAL CONFIRMATION SECTION-----------//


.modalCss2 .modal-wrapper { 
  width: 70%;
  height: 32%;
  // height: auto;
  // min-height: 32%;
  border-radius: 3vh;
  border: 5px solid #3C3430;
}

.sentence_group {
  display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
}

.sentence {
  color: #EDEDED;
  font-size: 4vw;
  margin: 2% auto;
}

.choice_buttons {
  // margin: 3% auto;
  margin:3% 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;

}

.btn_confirmation {
  text-transform: none;
    font-size: 5vw;
    // --border-radius: 4vw;
    --border-radius: 15px;
    color: #EDEDED;
    --background: #9C694C;
    // --padding-start: 6vw;
    // --padding-end: 6vw;
    --padding-top: 6vw;
    --padding-bottom: 6vw;
    --padding-start: 0;
    --padding-end: 0;
    width: 35vw;
    margin: 0 5%;
}

//-------------end MODAL CONFIRMATION SECTION-----------------//

//-------------start POPOVER SECTION-----------------//

.popoverContent {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.popoverText {
  font-size: 5vw;
  margin: 0.5vh auto 0.5vh 4vw;
  color: #EDEDED;
}

.seperatorv2 {
  border-top: 1px solid #9D694C;
  width: 92%;
}

.kana_example {
  display: flex;
  flex-direction: row;
  margin: 0.5vh auto 0.5vh 4vw;
  align-items: center;
  font-size: 5vw;
}

.artificial_space {
  width: 1.5vw;
}

.popoverExampleTextNotPink {
  margin: 0;
  color: #EDEDED;
}

.popoverExampleTextPink {
  margin: 0;
  color: #C3687E;
}

.popoverCss { 
  .popover-wrapper {
    .popover-content {
  
  width: 90%;
  // height: 55%;
  border-radius: 4vh;
    }}
}

//-------------end POPOVER SECTION-----------------//

.scroll-content {
  padding-bottom: 0 !important;
}
  
.toast-bg {
  --background: #9D694C;
  --color: #EDEDED;
}

  

  