<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Tabs Header</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<ion-tabs>
<ion-tab-bar slot="bottom">
  <ion-tab-button tab="practicetab">
    <ion-icon src="../assets/icon/littleone-icon-paintbrush-first.svg" class="icon-richard"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="learningtab">
    <ion-icon src="../assets/icon/icon-learning.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab="statstab">
    <ion-icon src="../assets/icon/icon-stats.svg"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
</ion-tabs>
</ion-content>