<!-- <ion-header class="header" class="ion-no-border">
  <ion-toolbar class="top-toolbar" mode="ios">
    <ion-title class="top-title">
      Statistics
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="settingsPopup()">
        <img src="../assets/icon/settings-icon.svg" class="icon_settings_topbar"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <div class="main_block">
    <!-- <div class="title_div">
    <p class="title">Overall</p>
  </div> -->
    <div *ngIf="testsInitialized == false" class="figures_block">
      <img src="" class="img_no_stats_v2">
      <p class="text">Nothing here...</p>
      <p class="text">You need to take at least 1 test to see your statistics</p>
    </div>

    <div *ngIf="testsInitialized" class="figures_block">
      <div class="figures_subblock">
        <p class="text">Average score ({{testsAmount}} sessions)</p>
        <!-- <p class="figure"><i>bar % here later</i>{{testsAverage}}/5</p> -->
        <div class="chart_div">
          <div class="chart_figure">{{testsAverage}} / 5</div>
          <div class="chart_bg">
            <div class="chart_bar_average_score"></div>
          </div>
        </div>
      </div>
      
      <div class="figures_subblock">
        <p class="text">Best score</p>
        <!-- <p class="figure"><i>bar % here later</i>{{testsAverage}}/5</p> -->
        <div class="chart_div">
          <div class="chart_figure">{{bestScore}} / 5</div>
          <div class="chart_bg">
            <div class="chart_bar_best_score"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="title_div" *ngIf="shameIsOn">
      <p class="title">Wall of Shame</p>
    </div>
      <div class="charac_block_container" *ngIf="shameIsOn">
        <!-- <div class="pepepoint_div_left">
          <img src="../../assets/img/pepePoint.png">
        </div> -->
        <!-- <div class="charac_block"> -->

          <div class="charac_column">
            <div class="mistake_element" *ngIf="isCharacterHiraganaMistakesTable"><p>{{characterHiraganaMistakesTable}}</p></div>
            <div class="mistake_element" *ngIf="isWordHiraganaMistakesTable"><p>{{wordHiraganaMistakesTable}}</p></div>
            <div class="mistake_element" *ngIf="isCharacterKatakanaMistakesTable"><p>{{characterKatakanaMistakesTable}}</p></div>
            <div class="mistake_element" *ngIf="isWordKatakanaMistakesTable"><p>{{wordKatakanaMistakesTable}}</p></div>
          </div>
          <div class="percent_column">
            <div class="mistake_percent" *ngIf="isCharacterHiraganaMistakesTable">
              <div class="chart_div">
                <div class="chart_figure_v2">{{characterHiraganaRatioAmount}}%</div>
                <div class="chart_bg">
                  <div class="chart_bar_mistake_hiragana_charac"></div>
                </div>
              </div>
            </div>
            <div class="mistake_percent" *ngIf="isWordHiraganaMistakesTable">
              <div class="chart_div">
                <div class="chart_figure_v2">{{wordHiraganaMistakesPercent}}%</div>
                <div class="chart_bg">
                  <div class="chart_bar_mistake_hiragana_word"></div>
                </div>
              </div>
            </div>
            <div class="mistake_percent" *ngIf="isCharacterKatakanaMistakesTable">
              <div class="chart_div">
                <div class="chart_figure_v2">{{characterKatakanaMistakesPercent}}%</div>
                <div class="chart_bg">
                  <div class="chart_bar_mistake_katakana_charac"></div>
                </div>
              </div>
            </div>
            <div class="mistake_percent" *ngIf="isWordKatakanaMistakesTable">
              <div class="chart_div">
                <div class="chart_figure_v2">{{wordKatakanaMistakesPercent}}%</div>
                <div class="chart_bg">
                  <div class="chart_bar_mistake_katakana_word"></div>
                </div>
              </div>
            </div>
          </div>
    </div>

    <ion-button (click)="clearStatsAlertConfirm()">Clear All</ion-button>

  </div>

  
  


</ion-content>
