<ion-header class="header" class="ion-no-border">
  <ion-toolbar class="top-toolbar" mode="ios">
    <ion-title class="top-title">
      Statistics
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="settingsPopup()">
        <img src="../assets/icon/settings-icon.svg" class="icon_settings_topbar"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <div class="main_block">
    <p class="title">Global Statistics</p>
    <div *ngIf="testsInitialized == false" class="figures_block">
      <div class="figures_subblock">
        <p class="text">You took</p>
        <p class="figure">{{testsAmount}}</p>
        <p class="text">tests in total</p>
      </div>
    </div>

    <div *ngIf="testsInitialized" class="figures_block">
      <div class="figures_subblock">
        <p class="text">You took</p>
        <p class="figure">{{testsAmount}}</p>
        <p class="text">tests in total</p>
      </div>
      <div class="figures_subblock">
        <p class="text">Average score of</p>
        <p class="figure">{{testsAverage}}/5</p>
        <p class="text">for all the tests</p>
      </div>
    </div>
      <p class="title">Wall of shame</p>
      <div class="charac_block_container" *ngIf="shameIsOn">
        <div class="pepepoint_div_left">
          <img src="../../assets/img/pepePoint.png">
        </div>
        <div class="charac_block">
          <div class="block_row" *ngIf="phoneticHiraganaMistakesTable">
            <div class="charac_subblock">
              <p class="text">Hiragana phonetic</p>
              <p class="charac">{{phoneticHiraganaMistakesTable}}</p>
            </div>
            <div class="counter">
              <p class="figure">x{{phoneticHiraganaMistakesAmount}}</p>
            </div>
          </div>
          <div class="block_row" *ngIf="wordHiraganaMistakesTable">
            <div class="charac_subblock">
              <p class="text">Hiragana word</p>
              <p class="charac">{{wordHiraganaMistakesTable}}</p>
            </div>
            <div class="counter">
              <p class="figure">x{{wordHiraganaMistakesAmount}}</p>
            </div>
          </div>
          <div class="block_row" *ngIf="phoneticKatakanaMistakesTable">
            <div class="charac_subblock">
              <p class="text">Hiragana phonetic</p>
              <p class="charac">{{phoneticKatakanaMistakesTable}}</p>
            </div>
            <div class="counter">
              <p class="figure">x{{phoneticKatakanaMistakesAmount}}</p>
            </div>
          </div>
          <div class="block_row" *ngIf="wordKatakanaMistakesTable">
            <div class="charac_subblock">
              <p class="text">Hiragana word</p>
              <p class="charac">{{wordKatakanaMistakesTable}}</p>
            </div>
            <div class="counter">
              <p class="figure">x{{wordKatakanaMistakesAmount}}</p>
            </div>
        </div>
      </div>
      <div class="pepepoint_div_right">
        <img src="../../assets/img/pepePoint.png">
      </div>
    </div>

    <div class="charac_block_container" *ngIf="!shameIsOn">
      <div class="charac_block">
        <div class="block_row">
          <div class="charac_subblock">
            <p class="charac">No shame yet...</p>
          </div>
          
        </div>
      </div>
    </div>

    <ion-button (click)="clearStatsAlertConfirm()">Clear All</ion-button>

  </div> -->

  Coming soon...

  
  


</ion-content>
