<ion-header class="header">
  <ion-toolbar class="top-toolbar">
    <ion-title class="top-title">
      Learning
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="../assets/logo_nihongokay.png" class="logo">
  <div class="button-menu">
    
      <ion-button (click)="goToLearningHiragana()">あ Hiragana</ion-button>
      <ion-button (click)="goToLearningKatakana()">ア Katakana</ion-button>
      <ion-button (click)="goToLearningKanji()">字 Kanji</ion-button>
   
  </div>

</ion-content>
