<!-- <ion-header class="header" class="ion-no-border">
  <ion-toolbar class="top-toolbar" mode="ios">
    <ion-title class="top-title">
      Learning
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="settingsPopup()">
        <img src="../assets/icon/settings-icon.svg" class="icon_settings_topbar"/>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <div class="buttons_menu_block">
     
    <ion-button (click)="goToLearningHiraganaTable()" class="button_menu_pink">
      <div class="button_menu_content">
        <div class="button_menu_label_content">
          <p class="button_label">Hiragana</p>
          <!-- <p class="button_sublabel">Table</p> -->
        </div>
        <div class="button_menu_icon_content">
          <img src="../../assets/icon/table_method_icon.svg" class="button_img">
        </div>
      </div>
    </ion-button>

    <ion-button (click)="goToLearningMnemonic('Hiragana')" class="button_menu_brown">
      <div class="button_menu_content">
        <div class="button_menu_label_content">
          <p class="button_label">Hiragana</p>
          <!-- <p class="button_sublabel">Mnemonic</p> -->
        </div>
        <div class="button_menu_icon_content">
          <img src="../../assets/icon/card.svg" class="button_img_rotated">
        </div>
      </div>
    </ion-button>

  
   
    <ion-button (click)="goToLearningKatakanaTable()" class="button_menu_pink">
      <div class="button_menu_content">
        <div class="button_menu_label_content">
          <p class="button_label">Katakana</p>
          <!-- <p class="button_sublabel">Table</p> -->
        </div>
        <div class="button_menu_icon_content">
          <img src="../../assets/icon/table_method_icon_2.svg" class="button_img">
        </div>
      </div>
    </ion-button>

    <ion-button (click)="goToLearningMnemonic('Katakana')" class="button_menu_brown">
      <div class="button_menu_content">
        <div class="button_menu_label_content">
          <p class="button_label">Katakana</p>
          <!-- <p class="button_sublabel">Mnemonic</p> -->
        </div>
        <div class="button_menu_icon_content">
          <img src="../../assets/icon/card.svg" class="button_img_rotated">
        </div>
      </div>
    </ion-button>
</div>



</ion-content>
