<ion-header class="ion-no-border" class="header_settings">
  <ion-toolbar class="settings_toolbar">
    <ion-title>Settings</ion-title>
      <ion-button (click)="closeModal()" class="close_window_button">
        <img src="../../assets/icon/cross_icon.svg" class="close_icon"/>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="popupContent">
    <div class="popupContentTop">
      <div class="div_button_settings">
        <p class="settings_sublabel">Sound</p>
        <ion-button class="sound_button_on" *ngIf="soundEnabled" (click)="toggleSound(false)">
          <img src='../../assets/icon/sound_on_icon.svg' class="img_sound_on" />
        </ion-button>
        <ion-button class="sound_button_on" *ngIf="!soundEnabled" (click)="toggleSound(true)">
          <img src='../../assets/icon/sound_off_icon.svg' class="img_sound_off" />
        </ion-button>
      </div>
      <div class="div_button_settings">
        <p class="settings_sublabel">Reset data</p>
        <ion-button class="delete_button" (click)="clearStatsAlertConfirm()">
          <img src='../assets/icon/delete_icon.svg' class="img_delete" />
        </ion-button>
      </div>
    </div>
    <hr class="seperator">
    <div class="popupContentBottom">
      <div style="display:flex; flex-direction:column;">
        <p class="settings_description">Yoshinapp is an open-source application, we don't earn anything with it. But you can support us by participating in the development. More info on the Github page.</p>
        <div class="bottom_settings_button">
        <ion-button class="github_button" (click)="goToGithub()">
          <img src='../assets/icon/github_icon.svg' class="img_github" />
        </ion-button>
        <!-- <ion-button class="github_button" (click)="goToDonation()">
          <img src='../assets/icon/donate_icon.svg' class="img_github" />
        </ion-button> -->
      </div>
        <p class="settings_brand">Yoshinapp © 2021</p>
      </div>
    </div>
  </div>

</ion-content>